body
{
    background-color: black;
}
#header
{
    background-image: url("./ten_background.jpeg");
}

#about
{
    background-image: url("./Four_background.jpg");
}

div
{
    width: 100%;
    height: 100%;
}